@charset "UTF-8";
@font-face {
  font-family: 'JKG-M_3';
  src: url('/fonts/JKG-M_3.ttf');
}
.body {
  font-family: 'JKG-M_3';
  font-size: 19px;
  background-color: rgba(236, 216, 115, 0.15);
}
/* Default Header */
#header {
  background-color: rgba(236, 216, 115, 0.15);
}
.header-logo img {
  height: 120px;
  width: 400px;
  top: 30px;
  position: relative;
  z-index: 2;
}
.carousel-box .carousel-inner img {
  width: 100%;
}
/* Default Nav */
.navbar {
  border-radius: 0;
  margin-bottom: 0;
}
.navbar-nav {
  float: none;
}
.navbar-nav > li {
  color: #82671C;
  text-align: center;
  float: left;
  border-right: 1px solid #555;
}
.navbar-nav > li.first {
  border-left: 1px solid #555;
}
.navbar-nav > li > a {
  padding-top: 5px;
  padding-bottom: 5px;
}
/* Default Content */
h2 {
  margin-top: 20px;
  margin-bottom: 30px;
}
hr {
  border-color: #A7881B;
}
iframe {
  border: 1px solid rgba(212, 155, 58, 0.86);
}
.contents {
  padding-top: 30px;
  color: #000;
}
.text-box {
  margin-bottom: 40px;
}
#intro .list-group-item {
  background-color: rgba(255, 152, 0, 0.66);
}
/* Default Card */
.card {
  background-color: rgba(236, 216, 115, 0.15);
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  text-align: center;
}
.card h4 {
  width: 160px;
}
.card .card-body {
  color: #888;
  font-size: 18px;
}
.card .card-body img {
  height: 250px;
  width: 250px;
  box-shadow: 0px 0px 10px #cccccc;
}
.btn {
  padding: 12px 80px;
}
/* Default Footer */
#footer small {
  color: #000;
}
#footer .logo {
  margin-top: 0;
}
#footer .logo a {
  color: #A08627;
}
#footer img {
  height: 60px;
  width: 200px;
}
#footer .navbar-nav > li {
  border-right: 1px solid #000;
}
#footer .navbar-nav > li.first {
  border-left: 1px solid #000;
}
#footer .navbar-nav li a {
  color: #000;
}
#footer .copyright {
  margin-top: 20px;
  text-align: center;
  bottom: 0px;
}
/* ------------------ */
/* @media ----------- */
/* ------------------ */
/* nav */
@media (min-width: 768px) {
  #header {
    color: #A74E02;
    position: relative;
  }
  #header .right-text {
    right: 40px;
    top: 40px;
    border-left: 3px solid #000;
    padding-left: 20px;
    font-size: 15px;
    position: absolute;
    z-index: 3;
  }
  #header .navbar {
    border-radius: 0;
  }
  #header .navbar-nav {
    float: right;
  }
  #header .navbar-nav > li {
    width: 155px;
  }
  #header .navbar-nav > li.first {
    border-left: 1px solid #000;
  }
  #header .navbar-nav > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  #header .navbar-default {
    border: none;
    bottom: 45px;
  }
  #header .navbar-default .navbar-nav > li > a {
    color: #000;
    font-size: 19px;
  }
  .carousel-box .carousel-inner .carousel-img {
    width: 653px;
    height: 450px;
  }
  .carousel-box .carousel-caption {
    font-size: 42px;
  }
  .right-box-1 {
    background-color: #000;
    height: 210px;
    margin-bottom: 30px;
  }
  .right-box-2 {
    background-color: #000;
    height: 210px;
  }
  .news-box {
    border: double 5px #A28123;
    margin-top: 20px;
    padding-top: 9px;
    padding-left: 9px;
  }
  .contents .container .title {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  #image .row {
    padding-top: 50px;
  }
  .profile2,
  .music,
  .history,
  .plan {
    border: double 5px #A28123;
    margin-top: 20px;
    padding-top: 9px;
    padding-bottom: 9px;
  }
}
@media (max-width: 768px) {
  .navbar-brand img {
    height: 29px;
    width: 75px;
  }
  .navbar-header {
    background-color: rgba(236, 216, 115, 0.15);
  }
  .carousel-box .carousel-inner img {
    height: 300px;
    width: 100%;
  }
  .contents {
    font-size: 15px;
  }
  .navbar-default {
    border-color: #000;
    backgound-color: rgba(236, 216, 115, 0.15);
  }
  .navbar-default .navbar-toggle {
    border-color: #000;
  }
  .navbar-default .navbar-toggle:hover > .icon-bar,
  .navbar-default .navbar-toggle:focus > .icon-bar {
    background-color: #7E7E7E;
  }
  #intro {
    padding-top: 0px;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 14px;
  }
  #intro img {
    width: 120px;
    height: 120px;
  }
  #intro .staff1 {
    margin-right: 10px;
  }
  #intro .staff2 {
    margin-left: 10px;
  }
  #top-sp-contents h4 {
    font-size: 17px;
    font-weight: bold;
  }
  #top-sp-contents img {
    width: 120px;
    height: 120px;
  }
  #main-image .card {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }
  #main-image .card .card-body img {
    height: 106px;
    width: 102px;
    border-radius: 400px;
  }
  #footer {
    font-size: 15px;
    padding-top: 20px;
    background-color: rgba(236, 216, 115, 0.15);
  }
  #footer img {
    height: 36px;
    width: 76px;
  }
}
